{% extends 'blogApp/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row text-center mb-5 mt-5">
    <div class="col-md-4 col-sm-12 offset-md-4">
        <div class="card">
            <div class="card-header bg-dark text-white text-center">
                <h3>consulte</h3>
            </div>
            <div class="card-body bg-secondary">

                {% if 'valido' in request.GET %}
                    <h2>Enviado correctamente</h2>
                    <img src="{% static 'img/contacto/ok.png' %}" class="w-100" alt="">
                    <a href="/" class="col-12 mt-3 btn btn-lg btn-dark">Home</a>
                {% else %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group p-1">
                            {{ formulario | crispy }}
                        </div>
                        <div class="d-grid gap-2 p-1">
                            <input type="submit" value="Enviar" class="btn btn-lg btn-dark">
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock%}